@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Ropa+Sans);

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
}

body {
  background: #fff;
}

::selection {
  color: #fff;
  background: #990100;
}
::-moz-selection {
  color: #fff;
  background: #990100;
}



/* navigation */
nav {
  width: 100%;
  color: #fff;
  border-left: 50px solid #990100;
  text-align: center;
  background: #333;
}
nav span {
  cursor: pointer;
  line-height: 50px;
}
nav.active ul {
  display: block;
}
nav ul {
  margin: 0;
  padding: 0;
  display: none;
  text-align: left;
  background: #333;
}
nav li {
  padding: 0;
  list-style: none;
}
nav a {
  padding-left: 5px;
  height: 50px;
  display: block;
  line-height: 50px;
  color: #fff;
}
nav a:hover {
  border-left: 25px solid #990100;
}




/* main */

main {
  width: 100%;
  font-size: 1.2rem;
}

main p:first-letter {
  width: 80px;
  height: 50px;
  display: block;
  text-align: center;
  font-size: 2rem;
}

section {
  padding: 15px;
  width: 100%;
}

.hendrik {
  width: 100%;
  height: 850px;
  margin: 0 auto;
  background: url('../images/hendrik.jpg') no-repeat 50% 50px;
  background-size: auto 800px;
}

h1 {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}
h1 span {
  display: block;
  font-size: 1.5rem;
}
h2 {
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
}

.poem-wrapper h3 {
  text-align: center;
}

#order {
  color: #fff;
  background: #333;
}
.book-image {
  width: 100%;
}
.book-image img {
  width: 90%;
}
.order-field .notion { 
  font-size: .8rem;
}
.order-field .notion:first-letter {
  font-size: .8rem;
}


/* buttons */

.button {
  margin: 15px 0;
  padding: 15px 25px;
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
  display: block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  text-align: center;
  background: #333;
}

.button.order {
  color: #333;
  background: #990100; 
  background: #fff;
  position: relative;
  display: inline-block;
  font-size: 2rem;
}
.order svg {
  width: 35px;
  height: 35px;
}
.button:hover:after {
  left: 0;
  right: 0;
}
.button:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #990100;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}


/* media queries */

@media all and (min-width: 960px) {
  nav {
    width: 150px;
    height: 50px;
    position: fixed;
    top: 150px;
    left: 25px;
  }
  nav ul {
    margin-left: -50px;
  }
  h1 {
    font-size: 5rem;
  }
  h1 span {
    margin-top: -1rem;
  }
  h2 {
    font-size: 3rem;
  }
  .border {
    height: 100%;
    width: 100%;
    position: fixed;
    border: 25px solid #333;
    pointer-events: none;
  }

  section {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px;
  }
  .poem-wrapper {
    width: 500px;
    margin: 25px auto 0;
  }
  /* order */
  .order-holder {
    display: flex;
   }
  .order-field {
   flex: 1;
   padding: 15px;
   display: inline-block;
  }
  .book-image {
   flex: 1;
  }
  h3.price {
   margin-top: 0;
   margin-bottom: 10px;
   font-size: 6rem;
  }
  .price span {
    font-size: 3rem;
    vertical-align: top;
  }
  form {
  margin-top: 10px;
  }
}
